@import './buttons.css';

:root {
	--background: #26b4bc;
}

body {
	background-color: var(--background);
}

.wrapper {
	max-inline-size: 900px;
	margin: auto;
}

.player video {
	inline-size: 100%;
}
